@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-04-29 17:35:09
 * @version $Id$
 */
* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	outline: none;
}

ul {
	list-style: none;
}

body {
	background-color: #efefef;
	font-family: microsoft yahei, Arial;
}

#header > .header-top {
	font-size: 14px;
	background-color: #e97261;
	color: #fff;
	padding: 18px 0;
}

#header > .header-top span {
	vertical-align: middle;
}

#header > .header-top img {
	vertical-align: top;
}

#header > .header-top ul {
	float: right;
	margin-right: 20px;
}

#header > .header-top li {
	float: left;
	margin-right: 20px;
}

#header > .header-top i {
	margin: 0 5px;
}

#header > .header-top a {
	color: #fff;
}

.my-account, .help-center {
	border-left: 2px solid #fff;
	padding-left: 8px;
}

.header-bottom {
	background-color: #fff;
}

.header-bottom img {
	padding: 15px 0;
}

.nav {
	float: right;
	padding: 32px 0;
}

.nav li {
	float: left;
	padding: 0 25px;
	border-left: 2px solid #676767;
	line-height: 18px;
}

.nav li:first-child {
	border-left: none;
}

.nav li > a {
	color: #676767;
	font-size: 16px;
}


#about-content, .header-content, #coperation, .footer-content {
	width: 1000px;
	margin: 0 auto;
}

#about-content, #coperation {
	background-color: #fff;
	text-align: center;
	padding: 18px 0;
	overflow: auto;
}

#coperation {
	padding: 10px 0;
	margin: 20px auto;
}

#coperation img {
	display: block;
	vertical-align: middle;
}

#coperation li{
	float: left;
	margin:0 25px;
	height: 36px;
	padding-top:5px;
}

#coperation li:first-child{
	padding-top: 10px;	
	font-size: 20px;
	color: #787878;
}
.adv4 {
	padding-top: 0px !important;
}

#footer {
	background-color: #4d697e;
	overflow: auto;
	text-align: center;
	padding: 20px 0;
	font-size: 12px;
	color: #fff;
}

#footer ul {
	width: 610px;
	margin: 0 auto;
}

#footer li {
	float: left;
	padding: 0 10px;
	border-left: 1px solid #fff;
	line-height: 14px;
}

#footer li:first-child {
	border: none;
}

#footer li > a {
	font-size: 15px;
	color: #fff;
}

#footer li > a:hover {
	color: #e56e5d;
}

#footer > p#copyright {
	clear: both;
	margin: 60px 0 5px;
}