@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-05-01 08:34:45
 * @version $Id$
 */
* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	outline: none;
}

ul {
	list-style: none;
}

body {
	background-color: #efefef;
	font-family: microsoft yahei, Arial;
}

i {
	font-style: normal;
}

.blue {
	color: #7cbcc5;
} 

.red, .sidebar li.selected span,
.sidebar li:hover span {
	color: #e36d5c;
}

.grey {
	background-color: #f6f6f6;
	padding: 10px;
}

.hide {display: none;}

.content, .header-content, #coperation, .footer-content {
	width: 1000px;
	margin: 0 auto;
}

.content {
	background-color: #fff;
}

.header-top {
	padding: 15px 0 10px;
	font-size: 14px;
	background-color: #f1f1f1;
}

.header-bottom {
	padding: 15px 0;
	background-color: #fff;
}

.header-content a {
	color: #394f5d;
}

#header > .header-top img {
	width: 7%;
	vertical-align: top;
}

#header > .header-top ul {
	float: right;
	margin-right: 20px;
}

#header > .header-top li {
	float: left;
	margin-right: 20px;
}
#header > .header-top li:first-child {
	color: #e87261;
}

#nav {
	background-color: #e5705e;
}
.nav-content, #usercenter-content {
	width: 1000px;
	margin: 0 auto;
}

#nav ul {
	margin-left: 30px;
}

#nav li {
	position: relative;
	padding: 15px 0;
	display: inline-block;
	color: #fff;
	display: inline-block;
}

#nav a {
	padding: 15px 30px;
	color: #fff;
}

.arrow {
	position: absolute;
	bottom: -14px;
	left: 43%;
	height:0;
    width:0;
    overflow:hidden;
    border-width:7px;
    border-color:#4c687d transparent transparent transparent;
    border-style: dashed dashed solid dashed;
}

#nav li.focus a {
	background-color: #4c687d;
}

#user-info {
	margin-top: 15px;
	padding: 30px 0;
}

#user-info div {
	display: inline-block;
	vertical-align: middle;
}

#user-info p {
	font-size: 14px;
	line-height: 30px;
	color: #777777;
}

#user-info h4,
#account-info {
	margin-bottom: 8px;
}

#user-info > div:first-child{
	padding: 0 50px;
}

.user-info-title {
	font-weight: normal;
}

#account-info {
	padding-left: 47px;
	width: 50%;
}

#account-info a {
	margin-left: 8px;
}

#account-info h4 {
	font-weight: normal;
	color: #4c687d;
}

#account-info p {
	display: inline-block;
	width: 40%;
}

#usercenter-content {
	margin-top: 20px;
	overflow: auto;
}

.sidebar {
	width: 18%;
	float: left;
	padding-bottom: 40px;
	background-color: #fff;
}

.sidebar h4 {
	color: #4e6a7f;
	text-align: center;
	font-weight: normal;
	background-image: url('../images/menu.png');
	background-repeat: no-repeat;
	background-position: 12%;
}

.sidebar li {
	padding: 10px 15px 10px 20px;
	border-left: 5px solid transparent;
}

.sidebar li.selected ,
.sidebar li:hover{
	border-left-color: #7cbcc5;
	background-color: #f6f6f6;
}

.sidebar li>span {
	color: #777777;
	float: right;
}

.sidebar a {
	font-size: 15px;
	color: #777777;
}

.list {
	width: 80%;
	float: right;
	background-color: #fff;
}

.list > h4 {
	font-weight: normal;
	color: #4e6a7f;
	padding-left: 50px;
	background-image: url('../images/locate.png');
	background-position: 20px;
	background-repeat: no-repeat;
}

.list-item {
	width: 90%;
	margin: 15px auto;
	border: 1px solid #e2e2e2;
}

.list-item > h4 {
	font-weight: normal;
	padding: 10px 15px;
	border-bottom: 1px solid #e2e2e2;
}

.list-item > h4 span {
	float: right;
}

.item-list {
	padding: 0 15px;
	font-size: 14px;
}

.item {
	color: #777777;
	padding: 15px 0;
}

.item p {
	width: 45%;
	line-height: 30px;
	display: inline-block;
}

.item span,
.item i {
	display: inline-block;
	width: 50%;
}

.item i {
	width: 50%;
}

.item:first-child {
	border-bottom: 1px solid #e2e2e2;
}

.item-list h4 {
	font-weight: normal;
}

#menu ul {
	width: 950px;
	margin: 0 auto;
}

#menu li {
	text-align: center;
	display: inline-block;
}

#menu a {
	color: #777777;
	font-size: 15px;
}

#menu li {
	padding: 9px;
	border-bottom: 3px solid transparent;
}

#menu li.selected,
#menu li:hover {
	background-color: #f6f6f6;
	border-bottom-color: #a5ced4;
}

#content, #coperation {
	background-color: #fff;
	text-align: center;
	padding: 18px 0;
	overflow: auto;
}

#coperation {
	padding: 10px 0;
	margin: 20px auto;
	clear: both;
}

#coperation img {
	display: block;
	vertical-align: middle;
}

#coperation li{
	float: left;
	margin:0 25px;
	height: 36px;
	padding-top:5px;
}

#coperation li:first-child{
	padding-top: 10px;	
	font-size: 20px;
	color: #787878;
}
.adv4 {
	padding-top: 0px !important;
}

#footer {
	background-color: #4d697e;
	overflow: auto;
	text-align: center;
	padding: 20px 0;
	font-size: 12px;
	color: #fff;
}

#footer ul {
	width: 610px;
	margin: 0 auto;
}

#footer li {
	float: left;
	padding: 0 10px;
	border-left: 1px solid #fff;
	line-height: 14px;
}

#footer li:first-child {
	border: none;
}

#footer li > a {
	font-size: 15px;
	color: #fff;
}

#footer li > a:hover {
	color: #e56e5d;
}

#footer > p#copyright {
	clear: both;
	margin: 60px 0 5px;
}